body {
  background: url("../images/background-map.png") no-repeat;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  background-position: center;
}

.options {
  height: 150px;
}

.chooseablePlayers {
  display: block;
}

.hiddenEnemies {
  display: none;
}

.attackBtn {
  display: none;
}

.resetBtn {
  display: none;
}

.playAgainBtn {
  display: none;
}