body {
  background: url("../images/background-map.png") no-repeat;
  height: 100%;
  background-size: 100%;
  background-attachment: fixed;
}

.options {
  height: 150px;
  width: 150px;
}

.chooseablePlayers {
  display: block;
}

.hiddenEnemies {
  display: none;
}

.attackBtn {
  display: none;
}

.resetBtn {
  display: none;
}
