body {
  background-image: url("../images/background-map.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.options {
  height: 150px;
  width: 150px;
}

.chooseablePlayers {
  display: block;
}

.hiddenEnemies {
  display: none;
}

.attackBtn {
  display: none;
}

.resetBtn {
  display: none;
}